.navi1 li
{
	display: inline;
	color: black;
}
.navi1 li a
{
	text-decoration: none;
	color: black;
}
.navi1 li a:hover
{
	color: red;
}
.addMenu
{
	width: 1170px;
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
.editor
{
	height: auto;
	width: auto;
}
.createdDiv
{
	height: 25px;
	width: 1000px;
	border: 2px solid #cdcdcd;
}
.styleMenu
{
	width: 1170px;
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
.left-sidebar
{
	width: 110px;
	float: left;
	background-color: #fff;
	margin-left: 10px;
	text-align: center;
}
.right-sidebar
{
	width: 110px;
	float: right;
	background-color: #fff;
	margin-left: 10px;
	text-align: center;
}
.header
{
	text-align: center;
}
.selected
{
	border: 4px solid blue;
}
.div
{
	width: 110px;
	height: 30px;
	border: 2px solid black;
	text-align: center;
}